/* .project-heading{
  text-align: center;
  padding: 4rem 0 2rem 0;
}
.project-container{
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}
.project-card{
  background: #1a1919;
  padding: 1.2rem 1rem;
}
.work-container{
  display: flex;
  flex-direction: column;
}
.project-card img{
  width: 100%;
}
.project-title{
  color: #fff;
  padding: 1rem 0;
}
.pro-details p{
  color: #fff;
  padding-bottom: 1rem;
  font-size: 1.1rem;
  text-align: justify;
}
.pro-btns{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.left{
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.right{
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media screen and (max-width:740px) {
  .project-container{
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
  }
}


/* .project-container{
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,2fr);
  grid-gap: 10px;
  padding-bottom: 3rem;
} */ 
.portfolio_container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 4.5rem;
  max-width: 100%;
}
.portfolio_item{
  background-color:#dfe4e5;
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--color-primary);
}
.portfolio_item:hover{
  border-color:#232c45;
  background: #232c45;
}
.portfoli_item-image{
  border-radius: 1.5 rem;
  overflow: hidden;
  width: 100%;
}
.portfolio_container.h2{
  color: #fff;
}
